.timeline-header {
  padding-left: 0;
}

.success .timeline-icon {
  background-color: #34a853;
}

.failure .timeline-icon {
  background-color: #ea4335;
}

.timeline-summary iframe {
  display: block;
  width: 100%;
  margin: 20px 0;
}